{% extends "base.html" %}
{% block content %}
    <h2>Your photo is here.</h2>
    <div>
        <p><span style="color:blue;font-weight:bold"> Photo name: </span>
            {{img_name}} <br>
        <span style="color:blue;font-weight:bold"> Photo location:  </span>
            {{location}}<br>
        <span style="color:blue;font-weight:bold"> Photo description: </span>
            {{description}}</p>
    </div>
    <div>
        <h2 class="grey">original:</h2>
        <img src="{{url_for('static', filename='photos/'+username+'/'+filename)}}"
             alt="{{filename}}">
    </div>
    <div>
        <h2 class="grey">scale up:</h2>
        <img src="{{url_for('static', filename='photos/'+username+'/scaleup_'+filename)}}"
         alt="transformation">
    </div>
    <div>
        <h2 class="grey">scaled down:</h2>
        <img src="{{url_for('static', filename='photos/'+username+'/scaledown_'+filename)}}"
         alt="transformation">
    </div>
    <div>
        <h2 class="grey" >black and white:</h2>
        <img src="{{url_for('static', filename='photos/'+username+'/grayscale_'+filename)}}"
         alt="transformation">
    </div>


{% endblock %}
